# --- API Keys ---
GOOGLE_API_KEY="AIzaSyBJqGK_-wcy_6aMGnDs-XDNM5UXJ37tpzQ"
OCM_API_KEY="d2aaafe6-e695-480d-8fc2-c9887fc23009"
WEATHER_API_KEY="a67ce2e31bacbcc686cd0ce925c97855"


# --- Cache TTL (in seconds) ---
CACHE_TTL_OCM=14400
CACHE_TTL_WEATHER=3600
CACHE_TTL_GOOGLE_PLACES=86400

# --- Logic Thresholds ---
ROUTE_SELECTOR_THRESHOLD_PERCENT=0.10

# --- Sustainability ---
CO2_AVG_ICE_CONSUMPTION=7.0
CO2_REGION_MULTIPLIER_TR=1.1