# Auto detect text files and perform LF normalization

* text=auto

# Source & config files: always LF in repo
*.py  text eol=lf
*.pyi text eol=lf
*.js  text eol=lf
*.ts  text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md  text eol=lf
*.sh  text eol=lf

# Windows scripts
*.bat text eol=crlf
*.cmd text eol=crlf
